div {
  font-family: 'Abel';
}

.navbar {

  background-color: #2148C0;
  color : white;
  width: 100%;
  Button {
    background-color: #9EDCFF;
    color: black;
  };
  .logo{
    padding-left:10px;
  }
  .user-logo{
    padding-left:3px;
    font-size: 15px;
  }
  .toggleSideNav {
    color:white;
    font-size: 35px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .button-div{
    padding-right: 20px;
  }
  
}

.nav-menu {
  background-color: #DADCE0;
  width: 250px;
  height : 100%;
  display: flex;
  justify-content: right;
  position: fixed;
  top: 7vh;
  left: -100%;
  padding-top: 25px;
  transition: 550ms;
}

.nav-menu-active{
  background-color: #DADCE0;
  width: 250px;
  height : 100%;
  display: flex;
  justify-content: right;
  position: fixed;
  top: 7vh;
  left: 0%;
  padding-top: 25px;
  transition: 550ms;
}

.nav-text {
  display: flex;
  color: #575757;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px 5px 10px;
  list-style: none;
  height: 40px;
  width: 250px;
  font-size : 13px;
}

.nav-text:hover{
  background-color: darkgrey;
}


.nav-icons{
  padding:8px 8px 8px 8px;
}

